.about{
  display: grid;
  grid-template-columns: 50% 50%;
}
.about__left{
  position: relative;
  background: #EBEFE1;
}
.about__right{
  position: relative;
  background: #F3F5EF;
}




//------------------ triangle block
.about__triangle{
  position: absolute;
  bottom: 100%;
  width: 100%;


}
.triangle_fill-beige{
  fill: #EBEFE1;
}
.triangle_fill-white{
  fill: #F3F5EF;
}
.triangle__svg{
  display: block;
}