//--------------------------- captcha

.captcha{
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}
.captcha__row,
.captcha__checkbox-block,
.captcha__radio-block{
  display: flex;
  align-items: center;
}
.captcha__checkbox-block,
.captcha__radio-block{
  position: relative;
  &:hover .captcha__checkbox-title{
    color: #6C9B5A;
  }
  &:hover .captcha__radio-title{
    color: #6C9B5A;
  }
}
.captcha__row--radio{
  margin-bottom: 25px;
}
.captcha__checkbox-title,
.captcha__radio-title{
  margin-left: 10px;
  transition: .3s;
  &:hover{
    color: #6C9B5A;
  }
}
.captcha__radio-block{
  margin-left: 25px;
  margin-right: 20px;
}
//--------------------------- checkbox

.captcha__checkbox-input{
  position: absolute;
  top: 0;
  left: -9999px;
  &:checked + .captcha__checkbox-fake:after{
    width: 10px;
    height: 10px;
  }
  &:checked + .captcha__checkbox-fake{
    background: #6C9B5A;
  }
  &:checked ~ .captcha__checkbox-title{
    color: #6C9B5A;
  }
}
.captcha__checkbox-fake{
  width: 20px;
  height: 20px;
  background: #fff;
  position: relative;
  transition: .3s;
  &:after{
    content: '';
    display: block;
    background: svg-load('check.svg', fill=white) 50% no-repeat;
    background-size: contain;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}
//--------------------------- radio

.captcha__radio-input{
  position: absolute;
  top: 0;
  left: -9999px;
  &:checked + .captcha__radio-fake:after{
    width: 10px;
    height: 10px;
  }
  &:checked ~ .captcha__radio-title{
    color: #6C9B5A;
  }
}
.captcha__radio-fake{
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: .3s;
  &:after{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: #6C9B5A;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}