.login-block__content{
  width: 380px;
  height: 427px;
  display: grid;
  grid-template:
          't' 2.2fr
          'c' 1.3fr
          'b' 45px
      / 1fr;
  background: rgba(29, 55, 38, .6);
  border-radius: 0 0 10px 10px;
  overflow: hidden;


  &-form{
    grid-area: t;
  }
  &-check{
    grid-area: c;
  }
  &-link-btns{
    grid-area: b;
    height: 100%;
    justify-self: stretch;
    background: $green;
  }
}
//--------------------------- form
.form{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.block-title{
  text-transform: uppercase;
  font-family: sansus, sans-serif;
  font-size: 2.2rem;
  background: url("/assets/images/heading_underline.png") no-repeat bottom;
  background-size: 5.6rem .19rem;
  padding: 1rem;
}
.form__title{
  margin-top: 13px;
  margin-bottom: auto;
}
.form__input-block{
  width: 90%;
  display: flex;
  position: relative;
  margin-top: 20px;
}
.form__input{
  flex: auto;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  color: #BDBDBE;
  padding: 12px 20px;
  border-radius: 30px;
  border-left: 45px solid #EFEFE9;
  transition: .3s;
  &:focus{
    outline: 0;
    background: transparent;
  }
  &:focus + .form__icon{
    fill: $green;
  }
}
.form__icon{
  width: 15px;
  height: 17px;
  fill: #C4CBCD;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transition: .3s;
}
//--------------------------- captcha

.captcha{
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}
.captcha__row,
.captcha__checkbox-block,
.captcha__radio-block{
  display: flex;
  align-items: center;
}
.captcha__checkbox-block,
.captcha__radio-block{
  position: relative;
  &:hover .captcha__checkbox-title{
    color: #6C9B5A;
  }
  &:hover .captcha__radio-title{
    color: #6C9B5A;
  }
}
.captcha__row--radio{
  margin-bottom: 25px;
}
.captcha__checkbox-title,
.captcha__radio-title{
  margin-left: 10px;
  transition: .3s;
  &:hover{
    color: #6C9B5A;
  }
}
.captcha__radio-block{
  margin-left: 25px;
  margin-right: 20px;
}
//--------------------------- checkbox

.captcha__checkbox-input{
  position: absolute;
  top: 0;
  left: -9999px;
  &:checked + .captcha__checkbox-fake:after{
    width: 10px;
    height: 10px;
  }
  &:checked + .captcha__checkbox-fake{
    background: #6C9B5A;
  }
  &:checked ~ .captcha__checkbox-title{
    color: #6C9B5A;
  }
}
.captcha__checkbox-fake{
  width: 20px;
  height: 20px;
  background: #fff;
  position: relative;
  transition: .3s;
  &:after{
    content: '';
    display: block;
    background: svg-load('check.svg', fill=white) 50% no-repeat;
    background-size: contain;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}
//--------------------------- radio

.captcha__radio-input{
  position: absolute;
  top: 0;
  left: -9999px;
  &:checked + .captcha__radio-fake:after{
    width: 10px;
    height: 10px;
  }
  &:checked ~ .captcha__radio-title{
    color: #6C9B5A;
  }
}
.captcha__radio-fake{
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: .3s;
  &:after{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    background: #6C9B5A;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
}






//-------------- links
/* look for block LINKS in the file COMMON PARTS*/