-
    var socials = [
        ['vk', 'http://vk.com'],
        ['github', 'http://github.com'],
        ['in', 'http://linkedin.com']
    ]

    var skills = [
        [
            'Frontend',
            [
                ['HTML5', 95],
                ['CSS3', 95],
                ['JavaScript & jQuery', 95]
            ]
        ],
        [
            'Backend',
            [
                ['PHP', 50],
                ['mySQL', 50],
                ['Node.js & npm', 50],
                ['Mongo.db', 50]
            ]
        ],
        [
            'WorkFlow',
            [
                ['Git', 75],
                ['Gulp', 75],
                ['Bower', 75]
            ]
        ]
    ]

    var contacts = [
        ['skype', 'skype_kdn', 'skype:skype_kdn'],
        ['envelope', 'astahov@gmail.com', 'mailto:astahov@gmail.com'],
        ['phone2' , '+7 931 200 93 24', 'tel:+7 931 200 93 24'],
        ['map_marker', 'Новосибирск, ул. Инская,д.14', 'https://www.google.com/maps']
    ]

    var linksFooter = ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
    var linksWelcome = ['Мои работы', 'Обо мне', 'Блог']
    var linksLogin = ['На главную', 'Войти']