//-------------- socials
.socials{
  display: flex;
  justify-content: space-between;
  width: 150px;


  &__link-icon{
    width: 30px;
    height: 30px;
    display: block;
    fill: #BDC7C1;
    fill-opacity: .5;
    transition: .3s;
    &:hover{
      fill: $dark-green;
      fill-opacity: 1;
    }
  }
}
//-------------- block-title
.block-title{
  text-transform: uppercase;
  font-family: sansus, sans-serif;
  font-size: 2.2rem;
  background: url("./assets/images/title-underline-white.png") no-repeat bottom;
  background-size: 5.6rem .19rem;
  padding: 1rem;
  text-align: center;
  //white-space: nowrap;
}
.block-title_dark{
  color: #373E42;
  background-image: url("./assets/images/title-underline.png");
  font-size: 3.9rem;
  padding: 0.7rem;
}
//-------------- block-subtitle
.block-subtitle{
  color: #566358;
  text-transform: uppercase;
  font-family: sansus, sans-serif;
  font-size: 2.2rem;
  background: url("./assets/images/subtitle-underline.png") no-repeat bottom;
  background-size: 5.6rem .19rem;
  padding: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  //white-space: nowrap;
}
//-------------- links wellcome and login
.links{
  display: flex;
  height: 100%;

  &__item{
    background: $green;
    transition: .3s;
    flex: 1 1 auto;
    border-right: 1px solid #fff;
    &:last-child{
      border-right: 1px none lime;
    }
    padding: 12px 0;
    text-align: center;

    &:hover{
      background: $dark-green;
      cursor: pointer;
    }
  }

  &__link{
    text-decoration: none;
    color: #fff;
  }
}